body, html {
  height: 100%;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #444444;
}
.layout {
  display: flex;
  flex-direction: row;
}
.header__page {
  position: relative;
  width: 100%;
  height: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__page .logo {
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  margin: 0;
  padding: 0;
}
.logo__img {
  height: 60px;
}
.header__title {
  text-transform: uppercase;
  color: #999999;
  letter-spacing: .3rem;
  font-size: 16px;

}

/*
  Main Nav
*/
.main-nav__item {
  margin-left: .75rem;
  margin-right: .75rem;
  padding: .3rem;
}
.main-nav__item a {
  border: 0;
  background: transparent;
  text-decoration: none;
  color: #666666;
  font-size: 16px;
  cursor: pointer;
}
.main-nav__item a:hover {
  background: transparent;
  color: #009B1D;
  text-decoration: underline;
}
.view-container {
  position: relative;
}

/*
  Hero
*/
.hero {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.title-text {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  white-space: nowrap;
  font-weight: 100;
  text-shadow:3px 3px 3px #111111;
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  letter-spacing: .5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.main-content {
  min-height: 345px;
}

.category-block__container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.category-block {
  margin-top: 32px;
}
.mini-hero {
  height: 220px;
  width: 400px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.mini-hero .title-text {
  font-size: 38px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 300;
  white-space: nowrap;
}
.category-block__container .nav-text {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  color: #666666;
}



.category-block__container {
  width: 420px;
}

.category-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  Footer
*/
.footer {
  height: 80px;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #dddddd;
  width: 100%;
}
.copyright-text {
  font-size: 16px;
  font-weight: 200;
}
.contact-us {
  font-size: 14px;
  font-weight: 200;
  align-items: center;
}
.contact-us img {
  display: block;
  height: 60px;
  margin-left: 8px;
}

.image-container {
  margin-top: 1rem;
}
.image-container .description {
  min-width: 200px;
  padding: 1rem;
  font-size: 16px;
}


.hero-home {
  background-image: url('images/home.jpg');
}
.mini-hero-home {
  background-image: url('images/home.jpg');
}
.mini-hero-coaches {
  background-image: url('images/coaches-small.jpg');
}
.hero-coaches {
  background-image: url('images/coaches.jpg');
}
.hero-about {
  background-image: url('images/about.jpg');
}
.mini-hero-about {
  background-image: url('images/about-small.jpg');
}
.hero-schedules {
  background-image: url('images/schedules.jpg');
}
.mini-hero-schedules {
  background-image: url('images/schedules-small.jpg');
}
.hero-registration {
  background-image: url('images/registration.jpg');
}
.mini-hero-registration {
  background-image: url('images/registration-small.jpg');
}
.hero-info {
  background-image: url('images/info.jpg');
}
.mini-hero-info {
  background-image: url('images/info-small.jpg');
}
.hero-referees {
  background-image: url('images/referees.jpg');
}
.mini-hero-referees {
  background-image: url('images/referees-small.jpg');
}


